
        body {
            padding: 20px;
        }

        #loader {
            display: none;
        }
        header img{
            border-radius: 50%;
            height: 130px;
            width: 130px;
        }
  
        header {
            display: flex;
            
        }
        header ul li{
            list-style: none;
        }

        .section{
            border: 2px solid black;
        }
        .sec_1 {
           display: flex;
           justify-content: space-between;
          
        }
        nav{
          margin-left: 22rem;
        }
        .btns{
            margin-left: 45%;
            margin-top: 2rem;
        }
       